@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    counter-reset: num;
}

h1, h2, h3, h4, p {
    margin: 0;
}

picture {
    display: inline-block;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.title_primary {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #373737;
}

.title_secondary {
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    color: #373737;
}

.title_third {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    color: #373737;
}

.block_text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.block_btn {
    display: inline-block;
    padding: 10px 22px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: #FF5300;
    text-decoration: none;
}

.block {
    padding-top: 120px;
    padding-bottom: 150px;
}

.block_bg {
    background-color: #FFF7F4;
}

.block_top {
    margin-bottom: 15px;
    text-align: center;
}

.block_note {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.block_note_before:before, .block_note:after {
    content: '';
    position: absolute;
    top: 60%;
    width: 40px;
    height: 1px;
    background-color: #FF5300;
}

.block_note_before::before {
    left: -50px;
}

.block_note::after {
    right: -50px;
}

.header {
    padding: 30px 0;
    background-color: #FFF7F4;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_nav_link {
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #373737;
    text-decoration: none;
}

.header_nav_li:first-child .header_nav_link {
    color: #FF5300;
}

.header_nav_li:last-child .header_nav_link {
    margin: 0;
    padding:  4px 15px;
    border: 1px solid #373737;
    border-radius: 5px;
}

.main {
    display: flex;
    align-items: center;
}

.wwd_item {
    width: calc(100% / 3);
    padding: 15px;
}

.wwd_box {
    position: relative;
    height: 100%;
    padding: 30px 25px 0 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.wwd_box:before {
    counter-increment: num;
    content: "0" counter(num);
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 64px;
    line-height: 74px;
    font-weight: 600;
    color: #EFEFEF;
}

.wwd_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wwd_type {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #7B7B7B;
}

.wwd_picture {
    margin-bottom: 15px;
}

.wwd_box_title {
    margin-bottom: 5px;
}

.about {
    display: flex;
    align-items: center;
}
.about_ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about_li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #373737;
}

.about_li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_332_3326)'%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z' fill='%23FF5300'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_332_3326'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left center;
}

.about_title {
    margin-bottom: 20px;
}

.cs_ul {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}

.cs_list:first-child, .cs_list:hover {
    border-radius: 10px;
    background-color: #FF5300;
}
.cs_list:first-child .cs_link, .cs_list:hover .cs_link {
    color: #fff;
}

.cs_link {
    display: inline-block;
    min-width: 126px;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #7B7B7B;
    text-decoration: none;
    text-align: center;
}

.cs_hover {
    position: absolute;
    top: 40px;
    left: 50px;
    bottom: 40px;
    right: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 83, 0, .75);
}

.cs_box:hover .cs_hover {
    display: flex;
}

.cs_boxes {
    display: flex;
    flex-wrap: wrap;
}

.cs_box {
    display: inline-block;
    position: relative;
    width: calc(100% / 3);
}

.cs_title {
    margin-top: 15px;
    color: #fff;
}

.cs_picture, .cs_img {
    width: 100%;
    height: 100%;
}

.testimonial_name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #FF5300;
}

.testimonial_role {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #7B7B7B;
}