@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    counter-reset: num;
}

h1, h2, h3, h4, p {
    margin: 0;
}

picture {
    display: inline-block;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.title_primary {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #373737;
}

.title_secondary {
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    color: #373737;
}

.title_third {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    color: #373737;
}

.block_text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.block_btn {
    display: inline-block;
    padding: 10px 22px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: #FF5300;
    text-decoration: none;
}

.block {
    padding-top: 120px;
    padding-bottom: 150px;
}

.block_bg {
    background-color: #FFF7F4;
}

.block_top {
    margin-bottom: 15px;
    text-align: center;
}

.block_note {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.block_note:before, .block_note:after {
    content: '';
    position: absolute;
    top: 60%;
    width: 40px;
    height: 1px;
    background-color: #FF5300;
}

.block_note::before {
    left: -50px;
}

.block_note::after {
    right: -50px;
}

.header {
    padding: 30px 0;
    background-color: #FFF7F4;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_nav_link {
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #373737;
    text-decoration: none;
}

.header_nav_li:first-child .header_nav_link {
    color: #FF5300;
}

.header_nav_li:last-child .header_nav_link {
    margin: 0;
    padding:  4px 15px;
    border: 1px solid #373737;
    border-radius: 5px;
}

.main {
    display: flex;
    align-items: center;
}

.wwd_item {
    width: calc(100% / 3);
    padding: 15px;
}

.wwd_box {
    position: relative;
    height: 100%;
    padding: 30px 25px 0 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.wwd_box:before {
    counter-increment: num;
    content: "0" counter(num);
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 64px;
    line-height: 74px;
    font-weight: 600;
    color: #EFEFEF;
}

.wwd_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wwd_type {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #7B7B7B;
}

.wwd_picture {
    margin-bottom: 15px;
}

.wwd_box_title {
    margin-bottom: 5px;
}